Importing the Dependencies

In [2]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score

Data Collection and Processing

In [3]:
# loading the csv data to a Pandas DataFrame
heart_data = pd.read_csv('/Users/murali/Downloads/heart.csv')

In [4]:
# print first 5 rows of the dataset
heart_data.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [5]:
# print last 5 rows of the dataset
heart_data.tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [6]:
# number of rows and columns in the dataset
heart_data.shape

(303, 14)

In [7]:
# getting some info about the data
heart_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       303 non-null    int64
 1   sex       303 non-null    int64
 2   cp        303 non-null    int64
 3   trestbps  303 non-null    int64
 4   chol      303 non-null    int64
 5   fbs       303 non-null    int64
 6   restecg   303 non-null    int64
 7   thalach   303 non-null    int64
 8   exang     303 non-null    int64
 9   oldpeak   303 non-null    float64
 10  slope     303 non-null    int64
 11  ca        303 non-null    int64
 12  thal      303 non-null    int64
 13  target    303 non-null    int64
dtypes: float64(1), int64(13)
memory usage: 33.3 KB

In [8]:
# checking for missing values
heart_data.isnull().sum()

age         0
sex         0
cp          0
trestbps    0
chol        0
fbs         0
restecg     0
thalach     0
exang       0
oldpeak     0
slope       0
ca          0
thal        0
target      0
dtype: int64

In [9]:
# statistical measures about the data
heart_data.describe()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
count,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000,303.000000
mean,54.366337,0.683168,0.966997,131.623762,246.264026,0.148515,0.528053,149.646865,0.326733,1.039604,1.399340,0.729373,2.313531,0.544554
std,9.082101,0.466011,1.032052,17.538143,51.830751,0.356198,0.525860,22.905161,0.469794,1.161075,0.616226,1.022606,0.612277,0.498835
min,29.000000,0.000000,0.000000,94.000000,126.000000,0.000000,0.000000,71.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,47.500000,0.000000,0.000000,120.000000,211.000000,0.000000,0.000000,133.500000,0.000000,0.000000,1.000000,0.000000,2.000000,0.000000
50%,55.000000,1.000000,1.000000,130.000000,240.000000,0.000000,1.000000,153.000000,0.000000,0.800000,1.000000,0.000000,2.000000,1.000000
75%,61.000000,1.000000,2.000000,140.000000,274.500000,0.000000,1.000000,166.000000,1.000000,1.600000,2.000000,1.000000,3.000000,1.000000
max,77.000000,1.000000,3.000000,200.000000,564.000000,1.000000,2.000000,202.000000,1.000000,6.200000,2.000000,4.000000,3.000000,1.000000

In [10]:
# checking the distribution of Target Variable
heart_data['target'].value_counts()

1    165
0    138
Name: target, dtype: int64

1 --> Defective Heart

0 --> Healthy Heart

Splitting the Features and Target

In [11]:
X = heart_data.drop(columns='target', axis=1)
Y = heart_data['target']

In [12]:
print(X)

     age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  \
0     63    1   3       145   233    1        0      150      0      2.3
1     37    1   2       130   250    0        1      187      0      3.5
2     41    0   1       130   204    0        0      172      0      1.4
3     56    1   1       120   236    0        1      178      0      0.8
4     57    0   0       120   354    0        1      163      1      0.6
..   ...  ...  ..       ...   ...  ...      ...      ...    ...      ...
298   57    0   0       140   241    0        1      123      1      0.2
299   45    1   3       110   264    0        1      132      0      1.2
300   68    1   0       144   193    1        1      141      0      3.4
301   57    1   0       130   131    0        1      115      1      1.2
302   57    0   1       130   236    0        0      174      0      0.0

     slope  ca  thal
0        0   0     1
1        0   0     2
2        2   0     2
3        2   0     2
4        2   0     2
..     ...  ..   ...
298      1   0     3
299      1   0     3
300      1   2     3
301      1   1     3
302      1   1     2

[303 rows x 13 columns]

In [13]:
print(Y)

0      1
1      1
2      1
3      1
4      1
      ..
298    0
299    0
300    0
301    0
302    0
Name: target, Length: 303, dtype: int64

Splitting the Data into Training data & Test Data

In [14]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout
from tensorflow.keras.callbacks import ReduceLROnPlateau, EarlyStopping
from sklearn.utils import class_weight

# Load data
data = pd.read_csv('/Users/murali/Downloads/heart.csv')

# Check for class imbalance
print(data['target'].value_counts())

# Split the data
X = data.drop('target', axis=1)
y = data['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale the data
scaler = StandardScaler()
X_train_scaled = scaler.fit_transform(X_train)
X_test_scaled = scaler.transform(X_test)

# Compute class weights
class_weights = class_weight.compute_class_weight(class_weight='balanced', classes=np.unique(y_train), y=y_train)
class_weights = dict(enumerate(class_weights))

# Build the model
model = Sequential([
    Dense(64, input_dim=X_train_scaled.shape[1], activation='relu'),
    Dropout(0.3),
    Dense(32, activation='relu'),
    Dropout(0.3),
    Dense(1, activation='sigmoid')
])

model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['accuracy'])

# Callbacks
lr_scheduler = ReduceLROnPlateau(monitor='val_loss', factor=0.1, patience=10)
early_stopping = EarlyStopping(monitor='val_loss', patience=10, restore_best_weights=True)

# Train the model
history = model.fit(
    X_train_scaled, y_train,
    validation_data=(X_test_scaled, y_test),
    epochs=100,
    callbacks=[lr_scheduler, early_stopping],
    class_weight=class_weights
)

# Evaluate the model
loss, accuracy = model.evaluate(X_test_scaled, y_test)
print(f'Test Accuracy: {accuracy:.2f}')

1    165
0    138
Name: target, dtype: int64

2024-07-17 18:31:59.342656: I tensorflow/core/platform/cpu_feature_guard.cc:193] This TensorFlow binary is optimized with oneAPI Deep Neural Network Library (oneDNN) to use the following CPU instructions in performance-critical operations:  AVX2 FMA
To enable them in other operations, rebuild TensorFlow with the appropriate compiler flags.

Epoch 1/100
8/8 [==============================] - 1s 51ms/step - loss: 0.6820 - accuracy: 0.5496 - val_loss: 0.6156 - val_accuracy: 0.7869 - lr: 0.0010
Epoch 2/100
8/8 [==============================] - 0s 5ms/step - loss: 0.6142 - accuracy: 0.6694 - val_loss: 0.5602 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 3/100
8/8 [==============================] - 0s 5ms/step - loss: 0.6003 - accuracy: 0.6901 - val_loss: 0.5176 - val_accuracy: 0.8361 - lr: 0.0010
Epoch 4/100
8/8 [==============================] - 0s 5ms/step - loss: 0.5487 - accuracy: 0.7438 - val_loss: 0.4842 - val_accuracy: 0.8361 - lr: 0.0010
Epoch 5/100
8/8 [==============================] - 0s 6ms/step - loss: 0.5094 - accuracy: 0.7603 - val_loss: 0.4568 - val_accuracy: 0.8361 - lr: 0.0010
Epoch 6/100
8/8 [==============================] - 0s 5ms/step - loss: 0.4838 - accuracy: 0.8058 - val_loss: 0.4346 - val_accuracy: 0.8361 - lr: 0.0010
Epoch 7/100
8/8 [==============================] - 0s 5ms/step - loss: 0.4821 - accuracy: 0.8017 - val_loss: 0.4173 - val_accuracy: 0.8361 - lr: 0.0010
Epoch 8/100
8/8 [==============================] - 0s 5ms/step - loss: 0.4605 - accuracy: 0.8182 - val_loss: 0.4020 - val_accuracy: 0.8361 - lr: 0.0010
Epoch 9/100
8/8 [==============================] - 0s 5ms/step - loss: 0.4431 - accuracy: 0.8306 - val_loss: 0.3940 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 10/100
8/8 [==============================] - 0s 5ms/step - loss: 0.4073 - accuracy: 0.8306 - val_loss: 0.3868 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 11/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3946 - accuracy: 0.8182 - val_loss: 0.3864 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 12/100
8/8 [==============================] - 0s 6ms/step - loss: 0.4028 - accuracy: 0.8347 - val_loss: 0.3907 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 13/100
8/8 [==============================] - 0s 6ms/step - loss: 0.3863 - accuracy: 0.8595 - val_loss: 0.3919 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 14/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3909 - accuracy: 0.8264 - val_loss: 0.3875 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 15/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3564 - accuracy: 0.8719 - val_loss: 0.3893 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 16/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3831 - accuracy: 0.8140 - val_loss: 0.3910 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 17/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3822 - accuracy: 0.8471 - val_loss: 0.3924 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 18/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3697 - accuracy: 0.8512 - val_loss: 0.3961 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 19/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3468 - accuracy: 0.8554 - val_loss: 0.4002 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 20/100
8/8 [==============================] - 0s 6ms/step - loss: 0.3604 - accuracy: 0.8760 - val_loss: 0.4075 - val_accuracy: 0.8197 - lr: 0.0010
Epoch 21/100
8/8 [==============================] - 0s 5ms/step - loss: 0.3590 - accuracy: 0.8636 - val_loss: 0.4087 - val_accuracy: 0.8197 - lr: 0.0010
2/2 [==============================] - 0s 2ms/step - loss: 0.3864 - accuracy: 0.8197
Test Accuracy: 0.82

In [15]:
model.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 64)                896

 dropout (Dropout)           (None, 64)                0

 dense_1 (Dense)             (None, 32)                2080

 dropout_1 (Dropout)         (None, 32)                0

 dense_2 (Dense)             (None, 1)                 33

=================================================================
Total params: 3,009
Trainable params: 3,009
Non-trainable params: 0
_________________________________________________________________

In [25]:
print(X.shape, X_train.shape, X_test.shape)

(303, 13) (242, 13) (61, 13)

Building a Predictive System

In [45]:
input_data = (63,1,3,145,233,1,0,150,0,2.3,0,0,1)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]!=1):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

1/1 [==============================] - 0s 291ms/step
[[1.]]
The Person has Heart Disease

In [42]:
input_data = (62,0,2,130,263,0,1,97,0,1.2,1,1,3)

# change the input data to a numpy array
input_data_as_numpy_array= np.asarray(input_data)

# reshape the numpy array as we are predicting for only on instance
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshaped)
print(prediction)

if (prediction[0]!=1):
  print('The Person does not have a Heart Disease')
else:
  print('The Person has Heart Disease')

1/1 [==============================] - 0s 26ms/step
[[0.9999926]]
The Person does not have a Heart Disease

Saving the trained model

In [46]:
import pickle

In [47]:
filename = 'heart_disease_model.sav'
pickle.dump(model, open(filename, 'wb'))

INFO:tensorflow:Assets written to: ram://c19a9c1e-19e9-4d69-ab8c-7798a1907236/assets

In [21]:
# loading the saved model
loaded_model = pickle.load(open('heart_disease_model.sav', 'rb'))

In [22]:
for column in X.columns:
  print(column)

age
sex
cp
trestbps
chol
fbs
restecg
thalach
exang
oldpeak
slope
ca
thal